html, body, body > div {
  height: 100%;
}

body {
  background-color: #333;
  font-family: Roboto;
}

#clock {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 800px;
  margin: 0 auto;
}
